{% extends 'AdminBundle:Base:base.html.twig' %}

{% block title %}Workable{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .row{
            padding: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <h3>Jobs</h3>
    <table class="table table-striped table-bordered table-hover listing-dataTable" id="job-list">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Department</th>
                <th>Created</th>
                <th>State</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <h3>Candidates</h3>
    <table class="table table-striped table-bordered table-hover listing-dataTable" id="candidate-list">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Stage</th>
                <th>Created</th>
                <th>Email</th>
                <th>Domain</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>    

    <!-- Row End -->
    <div id="dialog-view" title="View Job">

    </div>
    <div id="dialog-apply" title="Apply for Job">

    </div>    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
    {% verbatim %}
        <script id="apply-template" type="x-tmpl-mustache">
            {% include 'AdminBundle:Mustache:apply_template.html.twig' %}
        </script>
        <script id="job-template" type="x-tmpl-mustache">
            {% include 'AdminBundle:Mustache:job_details.html.twig' %}
        </script>
    {% endverbatim %}
    <script type="text/javascript">
        viewDialog = $("#dialog-view").dialog({
            autoOpen: false,
            height: 700,
            width: 700,
            modal: true,
            buttons: {
                Cancel: function () {
                    viewDialog.dialog("close");
                }
            },
            close: function () {

            }
        });

        $(document).on("click", ".view-job", function (event) {
            event.preventDefault();
            $.getJSON("/admin/workable/job/" + $(this).data('id'), function (data) {
                console.log(data);
                var template = $('#job-template').html();
                var data = {'data': data};
                var rendered = Mustache.render(template, data);
                $('#dialog-view').html(rendered);
                viewDialog.dialog("open");
            });
        });

        applyDialog = $("#dialog-apply").dialog({
            autoOpen: false,
            height: 700,
            width: 700,
            modal: true,
            buttons: {
                Cancel: function () {
                    applyDialog.dialog("close");
                }
            },
            close: function () {

            }
        });

        $(document).on("click", ".apply-job", function (event) {
            event.preventDefault();
            $.getJSON("/admin/workable/job/" + $(this).data('id') + "/application_fields", function (data) {
                var data = {'data': data};
                var template = $('#apply-template').html();
                var rendered = Mustache.render(template, data);
                $('#dialog-apply').html(rendered);
                applyDialog.dialog("open");
            });
        });

        var table = $('#job-list').DataTable({
            columns: [
                {
                    data: 'shortcode'
                },
                {
                    data: 'title'
                },
                {
                    data: 'department',
                    defaultContent: 'N/A',
                },
                {
                    data: 'created_at',
                },
                {
                    data: 'state'
                },
                {
                    data: 'id',
                    render: function (data, type, full, meta) {
                        return '<a class="btn btn-warning view-job" data-id="' + full.shortcode + '" href="#">View</a><a class="btn btn-warning apply-job" data-id="' + full.shortcode + '" href="#">Apply</a>';
                    }
                },
            ],
            ajax: {
                url: "{{ path('admin_workable_search_jobs') }}",
                type: "POST",
                data: function (d) {
                    d.roleParams = [];
                    $('input:checked').each(function () {
                        d.roleParams.push($(this).attr('value'));
                    });
                }
            }
        });
        var table = $('#candidate-list').DataTable({
            columns: [
                {
                    data: 'id'
                },
                {
                    data: 'name'
                },
                {
                    data: 'stage',
                    defaultContent: 'N/A',
                },
                {
                    data: 'created_at',
                },
                {
                    data: 'email'
                },
                {
                    data: 'domain'
                },
                {
                    data: 'id',
                    render: function (data, type, full, meta) {
                        return '<a class="btn btn-warning view-job" data-id="' + full.id  + '" href="#">View</a>';
                    }
                },
            ],
            ajax: {
                url: "{{ path('admin_workable_search_candidates') }}",
                type: "POST",
                data: function (d) {
                    d.roleParams = [];
                    $('input:checked').each(function () {
                        d.roleParams.push($(this).attr('value'));
                    });
                }
            }
        });
    </script>
{% endblock %}
