<!-- Right Section Header Start -->
            <header>
    <div class="cms-title">Adverto Solution Management Platform 2.1</div>
	<!-- Header Top Navigation Start -->
    <nav class="topnav">
        <ul id="nav1">
            <li>
            	<a href="https://thefountaingroup.com/admin/logout.php" class="logOut">Log out</a>
            </li>
        </ul>
    </nav>
    <!-- Header Top Navigation End -->
</header>            <!-- Right Section Header End -->