<!-- Sidebar Start -->
<div class="leftSide">
    <h1>Job Management Platform</h1>
    <h2>ADMIN</h2>
    <ul>
        <li>
            <a href="/admin/main.php?Todo=JMP&amp;page=General" class="sectionHome">
                General
            </a>
        </li>
        <li>
            <a href="{{ path('admin_jmp_business_unit_index') }}" class="sectionHome">
                Business Units
            </a>
        </li>
        <li>
            <a href="/admin/main.php?Todo=JMP&amp;page=Locations" class="sectionHome">
                Locations
            </a>
        </li>
        <li>
            <a href="/admin/main.php?Todo=JMP&amp;page=Categories" class="sectionHome">
                Categories
            </a>
        </li>
        <li>
            <a href="/admin/main.php?Todo=JMP&amp;page=CareerAreas" class="sectionHome">
                Career Areas
            </a>
        </li>
        <li>
            <a href="/admin/main.php?Todo=JMP&amp;page=JobTypes" class="sectionHome">
                Job Types
            </a>
        </li>
        <li>
            <a href="/admin/main.php?Todo=JMP&amp;page=JobStatus" class="sectionHome">
                Job Status
            </a>
        </li>
        <li>
            <a href="/admin/main.php?Todo=JMP&amp;page=JobSalaryType" class="sectionHome">
                Job Salary Type
            </a>
        </li>
        <li>
            <a href="/admin/main.php?Todo=JMP&amp;page=JobCareerLevel" class="sectionHome">
                Job Career Level
            </a>
        </li>
        <li>
            <a href="/admin/main.php?Todo=JMP&amp;page=JobEducationLevel" class="sectionHome">
                Job Education Level
            </a>
        </li>
        <li>
            <a href="/admin/main.php?Todo=JMP&amp;page=JobYearsOfExperience" class="sectionHome">
                Job Years Of Experience
            </a>
        </li>
        <li>
            <a href="/admin/main.php?Todo=JMP&amp;page=JobTemplates" class="sectionHome">
                Job Templates
            </a>
        </li>
        <li>
            <a href="/admin/main.php?Todo=JMP&amp;page=Feeds" class="sectionHome">
                Feeds
            </a>
        </li>
    </ul>
    <h2>JOBS</h2>
    <ul>
        <li>
            <a href="/admin/main.php?Todo=JMP" class="sectionHome">
                DASHBOARD
            </a>
        </li>
        <li>
            <a href="/admin/main.php?Todo=JMP&amp;page=OpenJobs" class="sectionHome">
                My Open Jobs
            </a>
        </li>
        <li>
            <a href="/admin/main.php?Todo=JMP&amp;page=ClosedJobs" class="sectionHome">
                My Closed Jobs
            </a>
        </li>
        <li>
            <a href="/admin/main.php?Todo=JMP&amp;page=AllJobs" class="sectionHome">
                All Jobs
            </a>
        </li>
    </ul>
</div>  
<!-- Sidebar End -->